<div class="container center-align">
  <div class="row">
    <div class="col s12 l4 offset-l4">
        <h3 class="mb-5">Opps! Parece que hubo un error</h3>
        {{#if message}}
        <div class="red lighten-4 alertmsg animate__animated animate__backInDown mb-5">
          <h5 class="red-text" id="msg">{{message}}</h5>
        </div>
        {{/if}}


        <a href="/"
					class="blue-grey hoverable waves-effect waves-light btn-large modal-trigger">
					Ir al Home
				</a>


    </div>
  </div>
</div>
