<section id="selectActionMenu">
<div class="container">
  <div class="row">
    <div class="col s12 notSoCenter-align center">
      <div id="selectionActionBtn" class="container">
        <div class="row">
          <h1>Aprender</h1>
          <p class="secondaryText">Puedes Solicitar una clase particular</p>
          {{!-- <div class="col s12 m6 mt-5">
            <a href="/learn/" class="indigo hoverable btnAction waves-effect waves-light btn-large">
              <span class="white-text">Buscar Cursos disponibles</span>
            </a>
          </div> --}}
          <div class="col s12 m12 mt-5">
            <a href="/learn/class" class="pink hoverable btnAction waves-effect waves-light btn-large">
              <span class="white-text">Crear Clase Particular</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
