
        <section id="registerForm">

        <form action="/user/register" method="POST" class="col s12">
        <div class="row">
          <h1 class="hero-title glitch center-align" data-text="REGISTRATE">REGISTRATE</h1>
          {{#if message}}
          <div id="errors" class="col s12 flex p-5 mb-5  lighten-4">
          <span class="hero-title glitch" data-text="{{message}}" >{{message}}</span>
          </div>
          {{/if}}
          <h5>-----------------------------------</h5>
            <div class="input-field col s6">
              <i class="material-icons prefix">account_circle</i>
              <input id="icon_prefix" name="name" type="text" class="validate">
              <label for="icon_prefix">Tu Nombre</label>
            </div>
            <div class="input-field col s6">
              <i class="material-icons prefix">email</i>
              <input id="icon_email" name="email"  type="email" class="validate">
              <label for="icon_email">Tu Email</label>
            </div>
          <h5>------------------------------------</h5>
            <div class="input-field col s6">
              <i class="material-icons prefix">https</i>
              <input id="icon_password" name="password" type="password" class="validate">
              <label for="icon_password">Tu contraseña</label>
            </div>
            <div class="input-field col s6">
              <i class="material-icons prefix">done_all</i>
              <input id="icon_confirmPassword" name="confirmPassword"  type="password" >
              <label for="icon_confirmPassword">Confirmar contraseña</label>
            </div>


            <div class="center-align mt-5 col s12">
              <button type="submit" id="registerFormBtn" class="red  hoverable  waves-effect waves-light btn-large">
              <span>Entiendo que no debo romper el sitio y quiero registrarme</span>
              </button>
            </div>
          </div>
        </form>
      </div>
        </section>


      <script>
        
  app.addEventListener("change", function () {
  
    const passwordInput = document.getElementById('icon_password');
    const passwordConfirmInput = document.getElementById('icon_confirmPassword');
    const nameInput = document.getElementById('icon_prefix');
    const mailInput = document.getElementById('icon_email');
    const registerBtn = document.getElementById('registerFormBtn');
    const errors = document.getElementById('errors');

    const inputs = [nameInput,mailInput,passwordInput,passwordConfirmInput];


    const valid =  inputs.filter(input => input.classList.contains('valid'));

    
      passwordInput.addEventListener('keyup' ,() => {
        if (passwordInput.value !== passwordConfirmInput.value){
          passwordConfirmInput.classList.remove('valid')
          passwordConfirmInput.classList.add('invalid')
        } else{
          passwordConfirmInput.classList.remove('invalid')
          passwordConfirmInput.classList.add('valid')
        }
      })

      passwordConfirmInput.addEventListener('keyup', () =>{
        if (passwordInput.value !== passwordConfirmInput.value){
          passwordConfirmInput.classList.remove('valid')
          passwordConfirmInput.classList.add('invalid')
        } else{
          passwordConfirmInput.classList.remove('invalid')
          passwordConfirmInput.classList.add('valid')
        }
      })

      if (valid.length === 4) {
        registerBtn.classList.remove('disabled')
      } else {
        registerBtn.classList.add('disabled')
      }


    })

    app.addEventListener('keyup', () => {

      const passwordInput = document.getElementById('icon_password');
      const passwordConfirmInput = document.getElementById('icon_confirmPassword');
      const nameInput = document.getElementById('icon_prefix');
      const mailInput = document.getElementById('icon_email');
      const registerBtn = document.getElementById('registerFormBtn');
      const errors = document.getElementById('errors');
  
      const inputs = [nameInput,mailInput,passwordInput,passwordConfirmInput];
  
  
  
      const valid =  inputs.filter(input => input.classList.contains('valid'));



      if (valid.length === 4) {
        registerBtn.classList.remove('disabled')
      } else {
        registerBtn.classList.add('disabled')
      }

    })

      </script>

      <audio src="/music/ambienth.mp3" autoplay>
      </audio>
    </section>