<section id="registerForm">
  <div class="container">
    <div class="row">
      <form action="/user/register" method="POST" class="col s12">
        <h1 class="glitch center-align" data-text="BAD REQUEST">ERROR 400</h1>
        {{#if message}}
        <h5>-----------------------------------</h5>
        <div id="errors" class="col s12 flex p-5 mb-5  lighten-4">
          <h5 class=" glitch" data-text="{{message}}">{{message}}</h5>
        </div>
        {{/if}}
        <h5>-----------------------------------</h5>
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_prefix" name="name" type="text" class="validate white-text">
          <label for="icon_prefix">Tu Nombre</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">email</i>
          <input id="icon_email" name="email" type="email" class="validate white-text">
          <label for="icon_email">Tu Email</label>
        </div>
        <h5>------------------------------------</h5>
        <div class="input-field col s6">
          <i class="material-icons prefix">https</i>
          <input id="icon_password" name="password" type="password" class="validate white-text">
          <label for="icon_password">Tu contraseña</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">done_all</i>
          <input id="icon_confirmPassword" name="confirmPassword" class="white-text" type="password">
          <label for="icon_confirmPassword">Confirmar contraseña</label>
        </div>
        <h5>------------------------------------</h5>
        <h4 class="pink-text">Where are you?</h4>

        <div id="countryContainer" class="col s12 m4 hide">
          <div class="card blue-grey darken-4 ">
            <div class="card-content white-text">
              <span class="card-title">Pais</span>
              <p id="countryParagraph"></p>
            </div>
          </div>
        </div>
        <div id="regionContainer" class="col s12 m4 hide">
          <div class="card blue-grey darken-4 ">
            <div class="card-content white-text">
              <span class="card-title">Provincia</span>
              <p id="regionParagraph"></p>
            </div>
          </div>
        </div>

        <div id="cityContainer" class="col s12 m4 hide">
          <div class="card blue-grey darken-4 ">
            <div class="card-content white-text">
              <span class="card-title">Ciudad</span>
              <p id="cityParagraph"></p>
            </div>
          </div>
        </div>


        <div id="cityContainer" class="col s12 m12">
          <div class="card black">
            <div class="card-content white-text">
              <p>
                <label for="hacker">
                  <input type="checkbox" id="hacker" name="hacker"/>
                  <span class="card-title">Desbloquear logro <h3 class="glitch " data-text="Hacker">Hacker</h3></span>
                </label>
              </p>
            </div>
          </div>
        </div>





        <div class="center-align mt-5 col s12">
          <button type="submit" id="registerFormBtn" class="red  hoverable  waves-effect waves-light btn-large disabled">
            <span>Entiendo que no debo romper el sitio y quiero registrarme</span>
          </button>
        </div>
    </div>
    </form>
  </div>

</section>

<script>
  async function showWhoYouAre() {
    const response = await fetch('https://api.ipify.org?format=json');
    const objResponse = await response.json();
    const ip = objResponse.ip;

    const secondResponse = await fetch(`https://extreme-ip-lookup.com/json/${ip}`);
    const getObjectData = await secondResponse.json();

    const cityP = document.getElementById('cityParagraph');
    const cityContainer = document.getElementById('cityContainer');
    const regionP = document.getElementById('regionParagraph');
    const regionContainer = document.getElementById('regionContainer');
    const countryP = document.getElementById('countryParagraph');
    const countryContainer = document.getElementById('countryContainer');
    cityP.innerText = getObjectData.city;
    cityContainer.classList.remove('hide');
    regionP.innerText = getObjectData.region;
    regionContainer.classList.remove('hide');
    countryP.innerText = getObjectData.country;
    countryContainer.classList.remove('hide');

  }

  showWhoYouAre();
</script>


<script>
  const app = document.getElementById('registerForm');

  app.addEventListener("click", function () {

    const passwordInput = document.getElementById('icon_password');
    const passwordConfirmInput = document.getElementById('icon_confirmPassword');
    const nameInput = document.getElementById('icon_prefix');
    const mailInput = document.getElementById('icon_email');
    const registerBtn = document.getElementById('registerFormBtn');
    const errors = document.getElementById('errors');

    const inputs = [nameInput, mailInput, passwordInput, passwordConfirmInput];


    const valid = inputs.filter(input => input.classList.contains('valid'));


    passwordInput.addEventListener('keyup', () => {
      if (passwordInput.value !== passwordConfirmInput.value) {
        passwordConfirmInput.classList.remove('valid')
        passwordConfirmInput.classList.add('invalid')
      } else {
        passwordConfirmInput.classList.remove('invalid')
        passwordConfirmInput.classList.add('valid')
      }
    })

    passwordConfirmInput.addEventListener('keyup', () => {
      if (passwordInput.value !== passwordConfirmInput.value) {
        passwordConfirmInput.classList.remove('valid')
        passwordConfirmInput.classList.add('invalid')
      } else {
        passwordConfirmInput.classList.remove('invalid')
        passwordConfirmInput.classList.add('valid')
      }
    })

    if (valid.length === 4) {
      registerBtn.classList.remove('disabled')
    } else {
      registerBtn.classList.add('disabled')
    }


  })

  app.addEventListener('keyup', () => {

    const passwordInput = document.getElementById('icon_password');
    const passwordConfirmInput = document.getElementById('icon_confirmPassword');
    const nameInput = document.getElementById('icon_prefix');
    const mailInput = document.getElementById('icon_email');
    const registerBtn = document.getElementById('registerFormBtn');
    const errors = document.getElementById('errors');

    const inputs = [nameInput, mailInput, passwordInput, passwordConfirmInput];



    const valid = inputs.filter(input => input.classList.contains('valid'));



    if (valid.length === 4) {
      registerBtn.classList.remove('disabled')
    } else {
      registerBtn.classList.add('disabled')
    }

  })

</script>

<audio src="/music/ambienth.mp3" autoplay>
</audio>
</section>