<section id="selectTeachingMenu">
<div class="container">
  <div class="row">
    <div class="col s12 notSoCenter-align center">
      <div id="selectionActionBtn" class="container">
        <div class="row">
          <h1>Enseñar</h1>
          <p class="secondaryText"> Aplicar para enseñar en  una clase particular</p>
          {{!-- <div class="col s12 m6 mt-5">
            <a href="/teach" class="pink hoverable btnAction waves-effect waves-light btn-large">
              <span class="white-text">Crear Curso</span>
            </a>
          </div> --}}
          <div class="col s12 m12 mt-5">
            <a href="/teach/classes" class="indigo hoverable btnAction waves-effect waves-light btn-large">
              <span class="white-text">Ver Clases Particulares</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>